:root {
	--bg-color: #e5e8eb;
	--btn-primary: #714B67;
	--btn-secondary: #017E8480;
	--secondary: #017E84;
	--navbar-bg: #8e2254;
	--text-btn-color: white;
	--table-border-color: #714b6740;
	--btn-default-hover-bg: white;
	--sidebar-select-color: #017E8420;
	--checkbox-gradient: linear-gradient(180deg, var(--btn-primary) -124.51%, var(--btn-primary) 100%);
	--text-base: 14px;
}

/* ---------------- LOGIN PAGE ---------------- */

[data-path="login"] .navbar-light {
	border-bottom: 1px solid var(--blue-400) !important;
	background: white;
}

[data-path="login"] .web-footer {
	border-top: 1px solid var(--blue-400) !important;
}

.for-login .page-card {
	border: 1px solid var(--blue-400) !important;
}

.for-login .btn-login {
	background-color: var(--blue-800) !important;
	border: none !important;
	color: white;
}

.for-login .btn-login:hover {
	background-color: var(--blue-600) !important;
	border: none !important;
	color: white;
}

.for-login .page-card-head h4 {
	display: none !important;
	color: black !important;
}

.for-login .form-control {
	background-color: white !important;
	border: solid 1px var(--blue-400) !important;
}

.for-login .form-control:focus,
.for-login .form-control:hover {
	box-shadow: 0 0 0 1px var(--blue-300) !important;
}

.for-login .page-card .page-card-body .forgot-password-message > * {
	color: var(--blue-600) !important;
}

/* ---------------- NAVBAR ---------------- */

.navbar .navbar-expand span,
.navbar .navbar-expand li a,
#navbar-breadcrumbs a,
.navbar .nav-item button.nav-link {
	color: var(--btn-default-hover-bg) !important;
}

#navbar-breadcrumbs li.disabled a {
	color: var(--white-overlay-400) !important;
}

/* ---------------- PAGE & LAYOUT ---------------- */

/* Make full background white (removes gray background) */
body,
.page-container,
.layout-main,
.layout-main-section,
.page-content,
.page-body,
.container {
	background-color: #ffffff !important;
}

/* Sidebar styling (white, slightly wider, no shadow) */
.layou
